<div class="contenedor_total_cards">
  <div class="wrapper">

    <ul class="carousel">
      <li class="card">
        <div class="img"><img src="../static/img/botasChelsy.jpeg" alt="img" draggable="false"
            style="width: 200%; height: auto;"></div><BR>
        <h2>BOTAS CHELSY EN CUERO</h2></BR>

      </li>
      <li class="card">
        <div class="img"><img src="../static/img/manillaTaches.jpeg" alt="img" draggable="false"
            style="width: 200%; height: auto;"></div><BR>
        <h2>MANILLA EN CUERO EN TACHES</h2></BR>

      </li>
      <li class="card">
        <div class="img"><img src="../static/img/camisetaBanda.jpeg" alt="img" draggable="false"
            style="width: 200%; height: auto;"></div><BR>
        <h2>CAMISETA DE BANDAS</h2></BR>

      </li>
      <li class="card">
        <div class="img"><img src="../static/img/pantalonCuero.jpeg" alt="img" draggable="false"
            style="width: 200%; height: auto;"></div><BR>
        <h2>PANTALON EN CUERO</h2></BR>
      </li>
    </ul>
  </div>
</div>