<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Rock Start Boutique Shop</title>
	<link rel="stylesheet" href="../static/css/admin.css">
	<link rel="icon" type="image/png" href="../static/img/favicon-256x256.png" >
	
	
</head>
<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			<div class="logo">
				<img src="../static/img/logo-blanco.png">
			</div>
			<nav class="menu">
				<a href="layout.html">Pagina Principal</a>
			</nav>
		</div>
	</header>
	<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="#">Regitrar Empleado</a>
			<a href="#">Registrar Productos</a>
			<a href="#">Catalogo</a>

		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>
</body>
</html>