<section class="container about">
  <a name="ancla-2"></a>
  <h1 class="subtitle">¿QUIENES SOMOS?</h1><br>
  <p class="about__paragraph">somos una empresa dedicada a la comercialización de ropa ,calzado y accesorios para
    personas de todos los géneros y prototipos a la vanguardia de la moda.
    Para jóvenes y adultos que quieren tener una propia identidad y personalidad resaltando sus gustos musicales y
    personas arriesgadas que quieren destacar el estilo de varias culturas urbanas y encontrarlo todo en un mismo
    lugar.</p>
  <br>

  <div class="about__main">
    <article class="about__icons">
      <img src="../static/img/camisa.svg" class="about__icon">
      <h3 class="about__title">......</h3>
      <p class="about__paragrah">Personalizamos hoodies, chaquetas, chalecos ,camisetas ,gorras y mucho más.
      </p>
    </article>

    <article class="about__icons">
      <img src="../static/img/codigo.svg" class="about__icon">
      <h3 class="about__title">.....</h3>
      <p class="about__paragrah">Venta de accesorios musicales para tus ensayos.</p>
    </article>

    <article class="about__icons">
      <img src="../static/img/tienda.svg" class="about__icon">
      <h3 class="about__title">....</h3>
      <p class="about__paragrah">Mantenimiento, octavacion y calibración de guitarras y bajos.
      </p>
    </article>
  </div>
</section>